<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Today's Vibe</title>
    {# -- font -- #}
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Stylish&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/common.css">

    <style>
        .title {
            font-weight: 800;
            font-size: 5rem;
            font-family: 'Gamja Flower', cursive;
        }

        .subtitle {
            font-size: 2rem;
            font-family: 'Stylish', sans-serif;
        }

        .is-sparta {
            color: #e8344e !important;
        }

        .body_wrap {
            max-width: 1200px;
            width: 95%; /*모바일 처리*/
            height: 100%;
            margin: 20px auto 0px auto;
        }

        .body_left {
            margin-left: 20px;
            margin-top: 20px;
            float: left;
            width: 45%;
            text-align: center;
        }

        .body_right {
            display: inline-block;
            width: 45%;
            float: right;
            margin-top: 20px;
            margin-right: 20px;

        }

        .table {
            width: 80%;
            max-width: 800px;
            margin: auto;
            padding-top: 30px;
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 8px 0.5rem;
        }

        body {
            background-color: snow;
        }

        .title {
            background-color: snow;
            cursor: pointer;
        }
    </style>
    <script>
        function to_index() {
            window.location.href = "/"
        }

        $(document).ready(function () {
            comment_get();
        })

        {## /comments : 댓글 값 조회하기#}
        function comment_get() {
            $.ajax({
                type: 'GET',
                url: '/post/comment_search',
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for(let i=0; i<rows.length; i++) {
                        let comment = rows[i]['comment']
                        let username = rows[i]['username']

                        let temp_html = `<tr>
                                            <td><a href="#">${username} </a></td>
                                            <td>${comment}</td>
                                        </tr>`
                        $('#comment_table').append(temp_html)
                    }

                }
            });
        }

        {## /comments : 댓글 올리기#}
        function comment_post() {
            let comment = $('#comment').val()
            let today = new Date().toISOString()

            $.ajax({
                type: 'POST',
                url: '/post/comment_up',
                data: {
                    comment_give: comment,
                    date_give: today
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

    </script>
</head>
<body>
<section onclick="to_index()" class="hero is-snow">
    <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
        <h1 class="title is-sparta">Today's vibe</h1>
        <h3 class="subtitle is-sparta">오늘의 기분</h3>
    </div>
</section>
<div class="body_wrap">
    <div class="body_left">
        <figure id="posted_img" class="image is-square"><img src="/static/images/rainjpg.jpg"></figure>
    </div>
    <div class="body_right">
        <div id="posted_diary">
            <div class="block">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/sun_2600-fe0f.png"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong><span style="color:red">ㅇㅇ</span>의 마음날씨</strong>
                                <br>
                            <li>작성 날짜</li>
                            <br>
                            작성된 글 조회하는 공간입니다. 많이 쓴 글은 어떻게 보여줘야할지 고민이네요...97일 남았는데 나는 과연 할 수 있을까? 멘붕이다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="block">
                태그 : <span class="tag is-warning">#우울우울</span>
            </div>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('', 'heart')">
                    <span class="icon is-small"><i class="fa fa-heart" aria-hidden="true"></i></span>&nbsp;<span
                        class="like-num">2.7k</span>
                </a>
            </div>
        </nav>
        <div class="block">
            <small>공감 한마디:</small>
            <div class="search-box d-flex justify-content-center">
                <input id="input-comment" class="form-control" style="margin-right: 0.5rem"
                       onclick='$("#modal-post").addClass("is-active")' placeholder="여기에 작성해주세요">
            </div>
        </div>
        <div class="modal" id="modal-post">
            <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                        <textarea id="comment" class="textarea"
                                                  placeholder="공감댓글 남기기"></textarea>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">

                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button is-sparta" onclick="comment_post()">댓글남기기</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-sparta is-outlined"
                                           onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-post").removeClass("is-active")'></button>
        </div>
    </div>
    <table class="table" style="background-color: snow">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="width:30%">ID</th>
            <th scope="col">응원 댓글</th>

        </tr>
        </thead>
        <tbody id="comment_table">

        </tbody>
    </table>

</div>
</body>
</html>